.gitignore
ApiPost6/
Atom/
Clementine/
Code - OSS/
Deskreen/
Dharkael/
Electron/
Kingsoft/
Motrix/
Mousepad/
QtProject.conf
QtProject/
Rambox/
Ryujinx/
Signal/
TabNine/
TelegramDesktoprc
Thunar/
Trolltech.conf
Typora/
Unknown Organization/
akregatorrc
another-redis-desktop-manager/
arkrc
baidunetdisk/
baloofileinformationrc
baloofilerc
blinkenrc
bluedevilglobalrc
cantorrc
cef_user_data/
chromium/
cni/
configstore/
connections.db
containers/
dconf/
discoverrc
dleyna-renderer-service.conf
dolphinrc
dragonplayerrc
drkonqirc
dunst/
electron-flags.conf
electron-netease-cloud-music/
electron11-flags.conf
electron17-flags.conf
electron18-flags.conf
electron8-bin-flags.conf
electron8-flags.conf
emaildefaults
emailidentities
enchant/
eog/
eventviewsrc
evolution/
fcitx/
fcitx5/
filelightrc
filetypesrc
filezilla/
fish/
flameshot/
flameshotrc
fontconfig/
freerdp/
gedit/
gnome-boxes/
gnome-builder/
gnome-control-center/
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
ibus/
jd-gui.cfg
jgit/
k3brc
kaccountsrc
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kalarmrc
kapmanrc
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kde.org/
kdeglobals
kdfrc
kdialogrc
kfloppyrc
kfontinstuirc
kgammarc
kgetrc
kglobalshortcutsrc
kgpgrc
khelpcenterrc
khotkeysrc
kimagemapeditorrc
kinfocenterrc
kingsoft/
kio_fishrc
kio_ftprc
kioclientrc
kiorc
kioslaverc
kmagrc
kmail2rc
kmailsearchindexingrc
kmenueditrc
kmixctrlrc
kmixrc
kmousetool_strokes.txt
kmousetoolrc
knfsshare
kollisionrc
kolourpaintrc
komparerc
konq_history
konquerorrc
konsolerc
korgacrc
korganizerrc
kprivacyrc
krdcrc
krecentconnections
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ksysguardrc
ktelepathyrc
ktimezonedrc
ktpcontactlistrc
kwalletrc
kwaverc
kwikdiskrc
kwinrc
kwinrulesrc
kwriterc
kxkbrc
libaccounts-glib/
libreoffice/
libvirt/
lutris/
lvim.old/
ktechpit/
menus/
mimeapps.list
monitors.xml
monitors.xml~
mpv/
nautilus/
nemo/
neofetch/
netease-cloud-music-gtk/
netease-cloud-music/
nvim-qt/
nvim/
nwg-launchers/
okularpartrc
okularrc
pavucontrol.ini
phishingurlrc
pipewire-media-session/
powerdevilrc
powermanagementprofilesrc
print-manager
pritunl/
protonfixes/
pulse/
qBittorrent/
qBittorrentrc
qqmusic/
qv2ray/
redisdesktop/
retroarch/
ristretto/
rpcs3/
sddmthemeinstallerrc
session/
signond/
soffice.binrc
specialmailcollectionsrc
spectaclerc
spotify/
steprc
sublime-text-3/
sweeperrc
systemmonitorrc
systemsettingsrc
tabby/
teamviewer/
terminator/
tiling-assistant/
totem/
touchpadxlibinputrc
transmission/
transmissionrc
trashrc
uGet/
unity3d/
user-dirs.dirs
user-dirs.locale
variety/
vlc/
webengineurlinterceptoradblockrc
weixin/
wireshark/
xdg-desktop-portal-kderc
xpad/
xsettingsd/
yakuakerc
yarn/
yay/
yelp/
ynote-desktop/
Code/
